#mail{
    -fx-background-color: "white";
    -fx-background-radius: 50;
}
#password{
    -fx-background-color: "white";
    -fx-background-radius: 50;
}

#rettangolo{
  -fx-background-color: rgba(51, 113, 154, 0.8);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-background-radius: 35;
    -fx-opacity: 0.7;
}
#bottoneLogin{
    -fx-background-color:rgba(51, 113, 154, 0.8);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-background-radius: 60;

}
